<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles/main.css" />
        <link rel="stylesheet" href="../static/styles/car.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="form-container">
            <h1>Car Prices</h1>
            <form id="form">
                <p id="fields-load">Fetching fields from the server...</p>
            </form>
        </div>
        <div class="result-container">
            <div id="result">-</div>
        </div>
    </body>
    <script src="../static/scripts/functions.js"></script>
    <script src="../static/scripts/car.js"></script>
</html>
