<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles/main.css" />
        <link rel="stylesheet" href="../static/styles/home.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="title-container">
            <h1>Asset Forecaster</h1>
            <p>Choose one to begin</p>
        </div>
        <div class="card-container">
            <div class="card">
                <video src="../static/video/3.mov"></video>
                <div class="card-button">
                    <h2>India Used Car Price Prediction</h2>
                    <p>By Damian</p>
                    <button onclick="window.location.href='/predict/car-price'">Launch</button>
                </div>
                <div class="shadow"></div>
            </div>
            <div class="card">
                <video src="../static/video/2.mov"></video>
                <div class="card-button">
                    <h2>Housing Price Prediction</h2>
                    <p>By Jade</p>
                    <button onclick="window.location.href='/predict/wheat-price'">Launch</button>
                </div>
                <div class="shadow"></div>
            </div>
            <div class="card">
                <video src="../static/video/1.mp4"></video>
                <div class="card-button">
                    <h2>Wheat Type Prediction</h2>
                    <p>By Natelie</p>
                    <button onclick="window.location.href='/predict/stock-price'">Launch</button>
                </div>
                <div class="shadow"></div>
            </div>
        </div>
    </body>
    <script src="../static/scripts/home.js"></script>
</html>
