body {
    padding: 30px;
    background-color: #0f0a47;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    gap: 20px;
}

.form-container,
.result-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    flex-direction: column;
    gap: 10px;
}

.result-container {
    align-items: center;
    justify-content: flex-start;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}

.header p {
    color: white;
    margin-bottom: 10px;
}

#form {
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: inherit;
    overflow-y: auto;
    justify-content: flex-start;
}

#form label {
    font-size: 0.8rem;
    color: #3e3e3e;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

#form input,
#form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

#form input:hover,
#form select:hover {
    border-color: #0f0a47;
}

/* sliders */
#form input[type="range"] {
    width: 100%;
    margin: 0;
}

#form input[type="submit"]:hover {
    background-color: #0f0a47;
    color: white;
}

#form input[type="submit"]:disabled {
    background-color: #e0e0e0;
    color: #3e3e3e;
    cursor: not-allowed;
}

#form .form-group {
    overflow-y: auto;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

#fields_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.result {
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result h2 {
    font-size: 2.5rem;
}

.back {
    display: flex;
    width: 100%;
    justify-content: center;
}

.back button {
    padding: 10px 20px;
    background-color: white;
    color: #0f0a47;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back button:hover {
    background-color: #0f0a47;
    color: white;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader img {
    width: 80px;
    height: 80px;
}
